{{#if authenticated}}
        {{#> caloriesRemainingWidget}}
        {{/caloriesRemainingWidget}}
    {{/if}} 
<p>You successfully deleted your post.</p>
<a href="/forum">Click here to return to the forum</a>