<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Nutrition App</title>
    <link rel="stylesheet" href="/public/css/main_styles.css">
  </head>
  <body>
    <div id="appContainer">
      <header>
          <h1>Nutrition App</h1>
           <nav id="navbar">
            <div class="nav-wrapper">
            <ul>
              <li><a href="/">Home</a></li>
              {{#if authenticated.user}}
                <li><a href="/profile">Profile</a></li>
                <li><a href="/food">Food Journal</a></li>
                <li><a href="/exercises">Exercise Journal</a></li>
                <li><a href="/progress">Fitness Progress</a></li>
                <li><a href="/logout">Logout</a></li>
                {{else}}
                <li><a href="/login">Login/Signup</a></li>
                {{/if}}
            </ul>
            </div>
        </nav>
      </header>
    <div id="body-container">
    {{{body}}}
    </div>
    <footer>
        <p>Final Proj CS 546</p>
    </footer>
    </div>
     <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
        crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS"
        crossorigin="anonymous"></script>
      <script src={{{script}}}></script>
  </body>
</html>