.food-log-intro {
    margin-top: 20px;
    margin-bottom: 20px;
}

.date-selector {
    margin-bottom: 20px;
}

.row-select {
    cursor: pointer;
}

.scrollable {
    overflow-y: scroll;
    max-height: 500px;
}

body {
    overflow-x: clip;
}