h1, h2, h3, p{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif

}

#calsBurned{
    color: rgb(28, 2, 224);
    text-align: center;
}

#enter-exercise{
    padding-top: 10%;
    padding-bottom: 1%;
    color: rgb(36, 104, 241);
    font-size: x-large;
}
h1{
    text-align: center;
    font-size: xx-large;
}

h2{
    text-align: center;
    font-size: x-large;
}

h3{
    text-align: center;
    font-size: larger;
}

.food-log-intro {
    margin-top: 20px;
    margin-bottom: 20px;
}

.date-selector {
    margin-bottom: 20px;
}

.row-select {
    cursor: pointer;
}

.scrollable {
    overflow-y: scroll;
    max-height: 500px;
}

body {
    overflow-x: clip;
}

.progressbar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.progressbar label {
    font-size: .85rem;
}

.progress-container {
    margin: auto;
    max-width: 90%;
    margin-bottom: 20px;
}