<div>
    {{#if authenticated}}
    {{#> caloriesRemainingWidget}}
    {{/caloriesRemainingWidget}}
    {{/if}} 
    <div>
        <h2>Exercise Journal</h2>
        <p>Exercise Journal keeps track of all the exercises that you've done and adjusts the daily intake requirements based on the number of calories burned depending on the exercise logged.</p>
    </div>
    <div>
        <button><a href='/exercises/new'>Add an exercise</a></button>
    </div>
    <div>
        <h3>Recent Exercises</h3>
        {{#if all}}
            <ul>
            {{#each allExercises}}
               <li><a href="exercises/{{this.exercisename}}">{{this.exercisename}}</a></li>
            </ul>
            {{/each}}
        {{else}}
            <p class="exercises-not-found">No exercises logged!!</p>
        {{/if}}
    </div>
</div>



