<p>I am the homepage!</p>

<div id="login-or-logout">
    {{#if authenticated.user}}
    <a href="/logout">Click here to logout</a>
    {{else}}
    <a href="/login">Click here to login</a>
    {{/if}}
</div>
