<div></div>
    {{#if authenticated}}
    {{#> caloriesRemainingWidget}}
    {{/caloriesRemainingWidget}}
    {{/if}} 
    <h2>Add an exercise</h2>
    <form method="post" id="new-exercise-form">
           <div class="form-group">
            <label for="name">Enter exercise :</label>
            <input type="text" class="exercise-form" id="exercisename" name="exercisename">           
            <label for="calories">Enter calories :</label>
            <input type="number" class="exercise-form" id="calories" name="calories">
            <button type="submit" class="btn btn-primary">Save Exercise</button>
            </div>
    </form>
    <div id="newExercise-error">
        {{{error}}}
    </div>

</div>









