<!-- theme credit:  https://bbbootstrap.com/snippets/bootstrap-signup-login-form-56423928 -->

<div class="container d-flex justify-content-center">
    <div class="d-flex flex-column justify-content-between">
        <div class="card mt-3 p-5">
            <div>
                <p class="mb-1">Start managing your</p>
                <h1 class="mb-5 text-white">fitness journey with us!</h1>
            </div><a class="btn btn-primary btn-large" href="/login" role="button">Already signed up? Login</a>

        </div>
        <form id="signup-form" method="post" role="form">
        <div class="card two bg-white px-5 py-4 mb-3">
            <div id="signup-error2">{{{error}}}</div>
            <div class="form-group">
                <input type="text" class="form-control" id="firstName" name="firstName" required>
                <label class="form-control-placeholder" for="firstName">First Name</label>
            </div>
            <div class="form-group">
                <input type="text" class="form-control" id="lastName" name="lastName" required>
                <label class="form-control-placeholder" for="lastName">Last Name</label>
            </div>
            <div class="form-group">
                <input type="date" class="form-control" id="dob" name="dob" required>
                <label class="form-control-placeholder" for="dob">Date of Birth</label>
            </div>
            <div class="form-group">
                <input type="email" class="form-control" id="email"  name="email" required>
                <label class="form-control-placeholder" for="email">Email</label>
            </div> 
            <div class="form-group">
                <input type="password" class="form-control" id="password"  name="password" required>
                <label class="form-control-placeholder" for="password">Password</label>
            </div> 
            <div class="form-group">
                <input type="password" class="form-control" id="passwordCheck"  name="passwordCheck" required>
                <label class="form-control-placeholder" for="passwordCheck">Re-enter password</label>
            </div> 
            <div class="form-group">
                <input type="text" class="form-control" id="adminCode"  name="adminCode" value="0" required>
                <label class="form-control-placeholder" for="adminCode">Admin Code</label>
                <p>Note: leave the default value as 0 if you are not an admin</p>
            </div>
            <div class="form-group">
                <input type="number" class="form-control" id="height"  name="height" required>
                <label class="form-control-placeholder" for="height">Height</label>
            </div> 
            <div class="form-group">
                <input type="number" class="form-control" id="weight"  name="weight" required>
                <label class="form-control-placeholder" for="weight">Weight</label>
            </div> 
            <div class="form-group">
                <label for="gender">Gender: </label>
                <select name="gender" id ="gender">
                    <option value="male">Male</option>
                    <option value="female">Female</option>
                </select>
            </div>
             <div class="form-group">
                <label for="activityLevel">Activity level: </label>
                <select name="activityLevel" id ="activityLevel">
                    <option value="sedentary">Sedentary</option>
                    <option value="light">Light</option>
                    <option value="moderate">Moderate</option>
                    <option value="heavy">Heavy</option>
                    <option value="hardcore">Hardcore</option>
                </select>
            </div> 
            <div class="form-group">
                <label for="goal">Fitness Goal: </label>
                <select name="goal" id ="goal">
                    <option value="-2">Lose 2 pounds per week</option>
                    <option value="-1">Lose 1 pound per week</option>
                    <option value="0">Maintain weight</option>
                    <option value="1">Gain 1 pound per week</option>
                    <option value="2">Gain 2 pounds per week</option>
                </select>
            </div> 
            <div id="signup-error" class="alert alert-danger" role="alert"></div>
            <button class="btn btn-primary btn-block btn-lg mt-1 mb-2" role="button"><span>Get started<i class="fas fa-long-arrow-alt-right ml-2"></i></span></button>
        </div>
        </form>
        </div>
    </div>
