<div class="signup" id ="signup-page-container">
    <div class="signup">
        <h1>Welcome to the signup page!</h1>
        <p>We are excited that you are choosing us to help you on your fitness journey and reach your goals.</p>
        <p>To get started, please fill out some basic information below, so we can personalize and optimize your exprience!</p>
         <div id="signup-error">
        {{{error}}}
        </div>

        <form method="post" id="signup-form" action="/signup">
        <h3>First, enter some basic information:</h3>

            <div class="form row">
                <div class="form-group col-md-6">
                    <label for="firstName">First name</label>
                    <input type="text" class="form-control" id="firstName" name="firstName" placeholder="First Name" required>
                </div>
                <div class="form-group col-md-6">
                    <label for="lastName" class="col-sm-1 col-form-label">Last name</label>
                    <input type="text" class="form-control" id="lastName" name="lastName" placeholder="Last Name" required>
                 </div>
            </div>
  

            <div class="form-group col-md-4">
                <label for="dob">Enter your date of birth</label>
                <input type="date" class="form-control" id="dob" name="dob" required>
            </div>
        </div>
        
        <div class="form-row">
        
        

            <label for="email">Enter email address (this will also be used to sign in)</label>
            <input type="email" class="form-control" id="email" name="email" required>
           
            <label for="password">Enter password</label>
            <input type="password" class="form-control" id="password" name="password" required>
            <label for="passwordCheck">Re-enter password</label>
            <input type="password" class="form-control" id="passwordCheck" name="passwordCheck" required>
          
        </div>

            <h3>Next, tell us about your health and your fitness goals</h3>
            <label for="height">Enter your height in inches</label>
            <input type="number" class="form-control" id="height" name="height" required>
           
            <label for="weight">Enter your current weight</label>
            <input type="number" class="form-control" id="weight" name="weight" required>
            
            <p>Select a gender:</p>
            <label for="male">Male</label>
            <input type="radio" id="male" value="male" name="gender" required>
            <br>
            <label for="female">Female</label>
            <input type="radio"  id="female" value="female" name="gender" required>

            <p>Select an activity level (You can change this at any time):</p>
            <div id="activity-selection">
                <label for="sedentary">Sedentary</label>
                <input type="radio" id="sedentary" value="sedentary" name="activityLevel" required>
                <br>
                <label for="light">Light</label>
                <input type="radio" id="light" value="light" name="activityLevel" required>
                <br>
                <label for="moderate">Moderate</label>
                <input type="radio" id="moderate" value="moderate" name="activityLevel" required>
                <br>
                <label for="heavy">Heavy</label>
                <input type="radio" id="heavy" value="heavy" name="activityLevel" required>
                <br>
                <label for="hardcore">Hardcore</label>
                <input type="radio" id="hardcore" value="hardcore" name="activityLevel" required> 
            </div>

            <p>Select a fitness goal (you can change this at any time):</p>
            <div id="fitness-goal-selection">
                <label for="lose2">Lose 2 pounds per week</label>
                <input type="radio" id="lose2" value="-2" name="goal" required>
                <br>
                <label for="lose1">Lose 1 pounds per week</label>
                <input type="radio" id="lose1" value="-1" name="goal" required>
                <br>
                <label for="maintain">Maintain current weight each week</label>
                <input type="radio" id="maintain" value="0" name="goal" required>
                <br>
                <label for="gain1">Gain 1 pound per week</label>
                <input type="radio" id="gain1" value="1" name="goal" required>
                <br>
                <label for="gain2">Gain 2 pounds per week</label>
                <input type="radio" id="gain2" value="2" name="goal" required>
                <br>
            </div>
        </div>
        <button type="submit">Submit</button>
        </form>
    </div>
</div>
